/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/dist
*.gem
Gemfile.lock
TODO
VERIFICATION.md

# Appraisal - exclude gemfile lockfiles but keep generated Gemfiles
/gemfiles/*.gemfile.lock